# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build files
/build/
/bin/
/obj/

# Ignore IDE files
*.vscode/
*.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other files
*.log
*.tmp

# PlatformIO specific
/HeatController/.pio
/HeatController/.vscode/.browse.c_cpp.db*
/HeatController/.vscode/c_cpp_properties.json
/HeatController/.vscode/launch.json
/HeatController/.vscode/ipch
# not needed stuff
/HeatController/.gitignore
