# Set default behavior to automatically normalize line endings
* text=auto

# Force specific line endings for specific file types
*.cpp text eol=lf
*.h text eol=lf
*.ino text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.ini text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.bin binary 